@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0 auto;
}

body {
  background-color: #0d1117;
  overflow-x: hidden;
}

.navapp {
  width: 90%;
}

.app {
  width: 85%;
}

.con {
  display: flex;
  flex-flow: row;

  justify-content: center;
}

svg {
  position: sticky;
  transform: rotate(-90deg);
}

svg circle {
  stroke: rgba(21, 249, 253, 0.1);
  stroke-width: 4px;
  stroke-linecap: round;
  fill: transparent;
}

::-webkit-scrollbar {
  background: #030610;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  border-radius: 9999px;
  background-clip: padding-box;
  background-color: #0fc7cc;
}

.last {
  font-weight: bold;
  color: red;
}

.greenline {
  background: linear-gradient(rgb(63, 185, 80), rgb(46, 160, 67), transparent);
}
.reverse-greenline {
  background: linear-gradient(transparent, rgb(46, 160, 67), rgb(63, 185, 80));
}
.both-fade-greenline {
  background: linear-gradient(transparent, rgb(46, 160, 67), rgb(63, 185, 80), transparent);
}

.page-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.main-wrapper {
  display: block;
}

.container {
  width: 100%;
  max-width: 100em;
  margin-right: auto;
  margin-left: auto;
}

.split-lines {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.2em;
  line-height: 1.1;
  font-weight: 500;
}

.line {
  position: relative;
}

.line-mask {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0d1117;
  opacity: 0.65;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.ov {
  white-space: nowrap;
}

.zzz {
  z-index: 1000 !important;
}

.icon-shadow {
  filter: blur(25px);
  width: 30px;
  height: 30px;
}

.blue__gradient {
  filter: blur(170px);
}