@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0 auto;
}

body {
  background-color: #0d1117;
  overflow-x: hidden;
  /* overflow-y: hidden; */

}

.app {
  width: 1533px;
}

.con {
  display: flex;
  flex-flow: row;

  justify-content: center;
}

svg {
  position: sticky;
  transform: rotate(-90deg);
}

svg circle {
  stroke: rgba(21, 249, 253, 0.1);
  stroke-width: 4px;
  stroke-linecap: round;
  fill: transparent;
}

::-webkit-scrollbar {
  background: #030610;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  border-radius: 9999px;
  background-clip: padding-box;
  background-color: #0fc7cc;
}

.last {
  font-weight: bold;
  color: red;
}

.greenline {
  background: linear-gradient(rgb(63, 185, 80), rgb(46, 160, 67), transparent);
}
.reverse-greenline {
  background: linear-gradient(transparent, rgb(46, 160, 67), #3fb950);
}
.both-fade-greenline {
  background: linear-gradient(
    transparent,
    rgb(46, 160, 67),
    rgb(63, 185, 80),
    transparent
  );
}
.purpleline {
  background: linear-gradient(#5d5de5, #333370, transparent);
}
.reverse-purpleline {
  background: linear-gradient(transparent, #5d5de5, #333370);
}
.both-fade-purpleline {
  background: linear-gradient(
    transparent,
    rgb(46, 160, 67),
    rgb(63, 185, 80),
    transparent
  );
}

.page-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.main-wrapper {
  display: block;
}

.container {
  width: 100%;
  max-width: 100em;
  margin-right: auto;
  margin-left: auto;
}

.split-lines {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.2em;
  line-height: 1.1;
  font-weight: 500;
}

.line {
  position: relative;
}

.line-mask {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0d1117;
  opacity: 0.65;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.ov {
  white-space: nowrap;
}

.zzz {
  z-index: 1000 !important;
}

.icon-shadow {
  filter: blur(25px);
  width: 30px;
  height: 30px;
}

.blue__gradient {
  filter: blur(170px);
}
.filter {
  filter: blur(150px);
}

.bgd {
  backdrop-filter: blur(40px);
}

canvas {
  display: block;
}

#imageContainer {
  position: relative;
  width: 780px;
  height: 620px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  max-width: 100%;

  transition: all ease 0.5s;
}

#imageContainer > * {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

extra stuff .jux-linx {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.loader-item {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  transform: rotate(180deg);
  color: #35c4f0;
}

.loader-item:nth-child(2) {
  animation-delay: 0.2s;
}
.loader-item:nth-child(3) {
  animation-delay: 0.4s;
}
.loader-item:nth-child(4) {
  animation-delay: 0.6s;
}
.loader-item:nth-child(5) {
  animation-delay: 0.8s;
}
.loader-item:nth-child(6) {
  animation-delay: 1s;
}
.loader-item:nth-child(7) {
  animation-delay: 1.2s;
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-moz-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-o-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@media (max-width: 1532.98px) {
  .app {
    width: 1200px;
  }
}

@media (max-width: 1199.98px) {
  .app {
    width: 992px;
  }
}

@media (max-width: 991.98px) {
  .app {
    width: 768px;
  }
}

@media (max-width: 767.98px) {
  .app {
    width: 576px;
  }
}
@media (max-width: 575.98px) {
  .app {
    width: 425px;
  }
}
@media (max-width: 424.98px) {
  .app {
    width: 375px;
  }
}

@media (max-width: 374.98px) {
  .app {
    width: 320px;
  }
}
@media (max-width: 321.98px) {
  .app {
    width: 270px;
  }
}
